{
  "env": {
    "browser": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "plugins": [
  ],
  "rules": {
    "comma-dangle": ["error", "always-multiline"],
    "quotes": ["error", "single"],
    "semi": ["error"],

    "indent": "off",
    "@typescript-eslint/indent": ["error", 2],
    "@typescript-eslint/no-explicit-any": ["off"]
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
